/* html,
body {
  background-color: rgb(18, 18, 18);
  color: white;
} */

.padding-small {
  padding: 10px;
}

.padding-medium {
  padding: 60px;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.hero {
  margin-top: 4rem;
}

.updates {
  margin: 10px;
}